*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    background-color:  rgb(77, 199, 236);
}

.main-container{
position: fixed;
top:0;
left: 0;
width: 100%;
display:flex;

}
.twoCloudsUp{
    position: absolute;
top:0;
transform:scale(0.5);
right:0;

}
.twoCloudsDown{
    position: absolute;
    transform:scale(0.5);
bottom:0

}
.full{
 top:20%;
 position: fixed;
 z-index: 6;
 height:20%;
 width: 100%;
 /* border: 1px solid black; */
}
.bigClouds{
    position: fixed;
    z-index: 6;
    top: 0%;
    height: 15%;
    width: 100%;
}
.loading{
    top: 45%;
    left: 50%;
    position: absolute;
}
.carGif{
    z-index: 8;
    left: 40%;
    
    /* opacity: 0; */
    width: 20%;
}
.car{
    position: absolute;
    border:1px solid black;
    /* width:50%; */
    top: 80%
}
.carStop{
    position: absolute;
   
    z-index: 8;
    left: 40%;
    width: 20%;
}
.secondWrapper{
    background-color: black;
    height: 1000px;
    position: fixed;
}
.buildings{
    width:100%;
    position: absolute;
    top:60%;
    /* float: bottom; */
}
.earth{
    width: 100%;
    height:80%;
    float: bottom;
    position: relative;
    z-index: 7;
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
   
}

.main-container section{
    min-width: 100%;
    height: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color: rgb(77, 199, 236);
}
.main-container section .content{
    max-width: 800px;
    padding-left: 40px; 

    text-align: center;
}
.page3{
    top:50%;
    position: absolute;
    border:1px solid black;
    
}
.birdOne{
     height: 20vh;
    position: relative;
    /* top: 35%;
    right:50px;  */
}




