#gradCap{
    position:absolute;
    bottom:25%;
    z-index: 2;
    opacity: 0;
    left:30%;
}

.eduMile{
    position: absolute;
    bottom:140px;
    height:45%;
    right: 0;
    z-index: 10;
    
}