#wrapper {
    position:absolute;
    width:100%;
    height:80%;
    z-index: 0;
    top:0 
  }
  
  #clouds{
    // background:url("/clouds/movingClouds2.png");
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/bg-clouds2-tinypng.png") repeat-x 0 bottom #ACE6FF;
    width:100%;
    height:120px; /*190px*/
    // min-height:90px;
    position:absolute;
    top:0;
    background-repeat: repeat-x;
    left:0;
    // z-index:19;
    -webkit-transform:translate3d(0,0,0.01);
    transform:translate3d(0,0,0.01);
  }
  
  .grass {
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/grass_tile-tinypng.png") repeat-x transparent;    
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:1;
    width: 100%;
    height: 200px;
    // min-height:92px;
    border:0 none transparent;
    outline:0 none transparent;
    -webkit-transform:translate3d(0,0,0.01);
    transform:translate3d(0,0,0.01);
    will-change: transform;
  }
  .house1{
    bottom:85px;
    left:0;
    position: absolute;
    z-index: 10;
  }
  // .hills{
  //   position: absolute;
  //   display: flex;
  //   width:100%;
  //   bottom: 0;
  //   // border: 1px solid black;
  //   height:90%;
  //   z-index: 8;

  // }
  .hill1{
    position: absolute;
    // display: inline-block;
    right:0;
    bottom:0;
    z-index: 0;
  }
  .hill2{
    position: absolute;
    left:0px;
    bottom:0;
    z-index: 9;
    // display: inline-block;
  }